In [48]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)

In [49]:
cd ~/Desktop/COVID-19-master/csse_covid_19_data/csse_covid_19_daily_reports

C:\Users\alexl\Desktop\COVID-19-master\csse_covid_19_data\csse_covid_19_daily_reports

In [50]:
import glob
#grap all the csv file names
# The * is not a regex, it just means "match anything"
# This matches 01-22-2020.csv, 01-23-2020.csv, etc.
list_of_dfs = []
for filename in glob.glob("*.csv"):
        list_of_dfs.append(pd.read_csv(filename))

In [51]:
#process column names, standardise 
n=len(list_of_dfs)
column_names = set()
for i in range(n):
    for col in list_of_dfs[i].columns:
        if col not in column_names:
            column_names.add(col)
column_names

update_column_names = {'Country/Region':'Country_Region','Last Update':'Last_Update','Lat':'Latitude','Long_':'Longitude','Province/State':'Province_State'}
for i in range(n):
     list_of_dfs[i].rename(columns=update_column_names, inplace=True)

In [54]:
#adjust columns orders and create new columns ready to stack/combine files
for i in range(n):
    for col in column_names:
        if col not in list_of_dfs[i]:
            list_of_dfs[i][col]=np.nan
column_name_ordered = ['FIPS','Admin2','Province_State','Country_Region','Last_Update','Latitude','Longitude','Confirmed','Deaths','Recovered','Active','Combined_Key','Incidence_Rate','Case-Fatality_Ratio']
for i in range(n):
    list_of_dfs[i]=list_of_dfs[i][column_name_ordered]
combined_df = pd.concat(list_of_dfs)
combined_df.head()

   FIPS Admin2 Province_State  Country_Region      Last_Update  Latitude  Longitude  Confirmed  Deaths  Recovered  Active Combined_Key  Incidence_Rate  Case-Fatality_Ratio
0   NaN    NaN          Anhui  Mainland China  1/22/2020 17:00       NaN        NaN        1.0     NaN        NaN     NaN          NaN             NaN                  NaN
1   NaN    NaN        Beijing  Mainland China  1/22/2020 17:00       NaN        NaN       14.0     NaN        NaN     NaN          NaN             NaN                  NaN
2   NaN    NaN      Chongqing  Mainland China  1/22/2020 17:00       NaN        NaN        6.0     NaN        NaN     NaN          NaN             NaN                  NaN
3   NaN    NaN         Fujian  Mainland China  1/22/2020 17:00       NaN        NaN        1.0     NaN        NaN     NaN          NaN             NaN                  NaN
4   NaN    NaN          Gansu  Mainland China  1/22/2020 17:00       NaN        NaN        NaN     NaN        NaN     NaN          NaN             NaN                  NaN

In [55]:
#I realized inconsistency of country names: eg China and Mianland China, UK and United Kingdom.
#Adjust inconsistency in naming
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Mainland China','China')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('UK','United Kingdom')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Bahamas, The','Bahamas')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Gambia, The','Gambia')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Gambia, The','Gambia')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Guinea-Bissau, The','Guinea')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Iran (Islamic Republic of)','Iran')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Ireland','Ireland')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Ireland','Ireland')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Korea','Korea')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Moldova','Moldova')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of Korea','Korea')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Republic of the Congo','Congo')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Taipei and environs','Taiwan*')
combined_df['Country_Region'] = combined_df['Country_Region'].replace('Taiwan','Taiwan*')
combined_df['Province_State'] = combined_df['Province_State'].replace('Unknown',np.nan)
combined_df.head()

   FIPS Admin2 Province_State Country_Region      Last_Update  Latitude  Longitude  Confirmed  Deaths  Recovered  Active Combined_Key  Incidence_Rate  Case-Fatality_Ratio
0   NaN    NaN          Anhui          China  1/22/2020 17:00       NaN        NaN        1.0     NaN        NaN     NaN          NaN             NaN                  NaN
1   NaN    NaN        Beijing          China  1/22/2020 17:00       NaN        NaN       14.0     NaN        NaN     NaN          NaN             NaN                  NaN
2   NaN    NaN      Chongqing          China  1/22/2020 17:00       NaN        NaN        6.0     NaN        NaN     NaN          NaN             NaN                  NaN
3   NaN    NaN         Fujian          China  1/22/2020 17:00       NaN        NaN        1.0     NaN        NaN     NaN          NaN             NaN                  NaN
4   NaN    NaN          Gansu          China  1/22/2020 17:00       NaN        NaN        NaN     NaN        NaN     NaN          NaN             NaN                  NaN

In [64]:
#Obtain Combined_Key, This code takes 5mins to run
#==============================================================================================================================#
#combined_df['Combined_Key'] = combined_df[['Admin2','Province_State','Country_Region']].apply(lambda x: ', '.join(x[x.notnull()]), axis = 1)

In [65]:
combined_df.head()

   FIPS Admin2 Province_State Country_Region      Last_Update  Latitude  Longitude  Confirmed  Deaths  Recovered  Active      Combined_Key  Incidence_Rate  Case-Fatality_Ratio
0   NaN    NaN          Anhui          China  1/22/2020 17:00       NaN        NaN        1.0     NaN        NaN     NaN      Anhui, China             NaN                  NaN
1   NaN    NaN        Beijing          China  1/22/2020 17:00       NaN        NaN       14.0     NaN        NaN     NaN    Beijing, China             NaN                  NaN
2   NaN    NaN      Chongqing          China  1/22/2020 17:00       NaN        NaN        6.0     NaN        NaN     NaN  Chongqing, China             NaN                  NaN
3   NaN    NaN         Fujian          China  1/22/2020 17:00       NaN        NaN        1.0     NaN        NaN     NaN     Fujian, China             NaN                  NaN
4   NaN    NaN          Gansu          China  1/22/2020 17:00       NaN        NaN        NaN     NaN        NaN     NaN      Gansu, China             NaN                  NaN

In [66]:
#Select only Useful clolumns
combined_df=combined_df[['Combined_Key','Last_Update','Confirmed','Deaths','Recovered','Active','Incidence_Rate','Case-Fatality_Ratio']]
combined_df.head()

       Combined_Key      Last_Update  Confirmed  Deaths  Recovered  Active  Incidence_Rate  Case-Fatality_Ratio
0      Anhui, China  1/22/2020 17:00        1.0     NaN        NaN     NaN             NaN                  NaN
1    Beijing, China  1/22/2020 17:00       14.0     NaN        NaN     NaN             NaN                  NaN
2  Chongqing, China  1/22/2020 17:00        6.0     NaN        NaN     NaN             NaN                  NaN
3     Fujian, China  1/22/2020 17:00        1.0     NaN        NaN     NaN             NaN                  NaN
4      Gansu, China  1/22/2020 17:00        NaN     NaN        NaN     NaN             NaN                  NaN

In [72]:
#Making sure all rows in Combined_Key are filled.
combined_df[pd.isnull(combined_df['Combined_Key'])]

Empty DataFrame
Columns: [Combined_Key, Last_Update, Confirmed, Deaths, Recovered, Active, Incidence_Rate, Case-Fatality_Ratio]
Index: []

In [73]:
#Change date formate
combined_df['Last_Update'] = pd.to_datetime(combined_df['Last_Update']).dt.date
combined_df.head()

C:\Users\alexl\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Combined_Key Last_Update  Confirmed  Deaths  Recovered  Active  Incidence_Rate  Case-Fatality_Ratio
0      Anhui, China  2020-01-22        1.0     NaN        NaN     NaN             NaN                  NaN
1    Beijing, China  2020-01-22       14.0     NaN        NaN     NaN             NaN                  NaN
2  Chongqing, China  2020-01-22        6.0     NaN        NaN     NaN             NaN                  NaN
3     Fujian, China  2020-01-22        1.0     NaN        NaN     NaN             NaN                  NaN
4      Gansu, China  2020-01-22        NaN     NaN        NaN     NaN             NaN                  NaN

In [78]:
#Fill na in confirmed, deaths,recovered and active columns and then set to int
combined_df[['Confirmed','Deaths','Recovered','Active']]=combined_df[['Confirmed','Deaths','Recovered','Active']].fillna(0)
combined_df[['Confirmed','Deaths','Recovered','Active']]=combined_df[['Confirmed','Deaths','Recovered','Active']].astype('int32')
combined_df.head()

              Combined_Key Last_Update  Confirmed  Deaths  Recovered  Active  Incidence_Rate  Case-Fatality_Ratio
78              Azerbaijan  2020-02-28          1       0          0       0             NaN                  NaN
85    Montreal, QC, Canada  2020-02-28          1       0          0       0             NaN                  NaN
88    Montreal, QC, Canada  2020-02-28          1       0          0       0             NaN                  NaN
97    Montreal, QC, Canada  2020-02-28          1       0          0       0             NaN                  NaN
104   Montreal, QC, Canada  2020-02-28          1       0          0       0             NaN                  NaN

In [79]:
#sort the data before remove duplicate rows
combined_df = combined_df.sort_values(['Combined_Key','Last_Update'])
#remove duplicate rows
combined_dictinct_df = combined_df.drop_duplicates(subset=['Combined_Key','Last_Update','Confirmed','Deaths'],keep="last")
combined_dictinct_df.head()

              Combined_Key Last_Update  Confirmed  Deaths  Recovered  Active  Incidence_Rate  Case-Fatality_Ratio
78              Azerbaijan  2020-02-28          1       0          0       0             NaN                  NaN
120   Montreal, QC, Canada  2020-02-28          1       0          0       0             NaN                  NaN
118   Montreal, QC, Canada  2020-03-05          2       0          0       0             NaN                  NaN
117   Montreal, QC, Canada  2020-03-07          3       0          0       0             NaN                  NaN
125   Montreal, QC, Canada  2020-03-08          4       0          0       0             NaN                  NaN

In [81]:
#Create a copy of combined_distinct_df to distinct.csv file
combined_dictinct_df.to_csv('~/Desktop/COVID-19-master/distinct.csv')